@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.container {
  display: flex;
  flex-direction: column;

  .beer__card__wrapper {
    margin-top: 50px;
  }
  .beer__card__container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5.5%;
    grid-row-gap: 30px;
    margin-bottom: 50px;
  }
}
